body {
  background: pink;
}


.slideshow {

  .slider{
    background: wheat;
    div {
      background: yellow;
      // height: 100%;
    }
  }

  .inner{

    background: red;
  }

}

._is-active{
  button{
    background: red;
  }
}

// .seltzer-equalHeight{
//   height: 100%;
// }
